In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel,cosine_similarity
ds = pd.read_csv("pirs_cbf.csv")

In [13]:
#budget=input("Enter your approximate budget:")
l=[]
l.append(input("Enter season:").lower())
c=input("Going with?\n1.Family\n2.Friends\n3.Romantic\n4.Solo\nEnter option number:\n")
going_with=['family','friends','solo','romantic']
bm=['beaches','mountains']
interest=['adventure','sightseeing']
l.append(going_with[int(c)-1])
usr_tags = ','.join(l)
if input("Wish to enter additional preferences to improve recommendations?\n Enter y/n:\n")=='y':
    c=input("Do you prefer:\n1. Beaches\n2.Mountains\n")
    l.append(bm[int(c)-1])
    c=input("Enter purpose of your visit: 1.Adventure\n2.Sightseeing\n Enter option number:\n")
    l.insert(1,interest[int(c)-1])
else:
    l.insert(1,'adventure,sightseeing')
    l.insert(2,'beaches,mountains')         
usr_tags = ','.join(l)
print(usr_tags)
ds=ds.append({'name':'usr_input','tags':usr_tags},ignore_index=True)
ds.drop(3)

Enter your approximate budget:12213
Enter season:winter
Going with?
1.Family
2.Friends
3.Romantic
4.Solo
Enter option number:
2
Wish to enter additional preferences to improve recommendations?
 Enter y/n:
y
Do you prefer:
1. Beaches
2.Mountains
2
Enter purpose of your visit: 1.Adventure
2.Sightseeing
 Enter option number:
1
winter,adventure,friends,mountains

                 name                                               tags
0                 goa  winter,adventure,sightseeing,beaches,solo,roma...
1             andaman  winter,adventure,sightseeing,beaches,romantic,...
2            himachal  winter,summer,adventure,sightseeing,mountains,...
4         uttarakhand  winter,summer,adventure,sightseeing,mountains,...
5             kashmir  summer,adventure,sightseeing,mountains,romanti...
6              ladakh            summer,adventure,mountains,solo,friends
7          tamil nadu             winter,sightseeing,beaches,solo,family
8                ooty  winter,summer,sightseeing,mountains,romantic,f...
9              sikkim  summer,adventure,sightseeing,mountains,family,...
10         darjeeling  winter,summer,monsoon,sightseeing,mountains,ro...
11            gujarat                          winter,sightseeing,family
12              delhi                  winter,monsoon,sightseeing,family
13          meghalaya  winter,summer,monsoon,adventure,sightseeing,mo...
14     madhya pradesh                  winter,monsoon,sightseeing,family
15             punjab                  winter,monsoon,sightseeing,family
16          hyderabad                              winter,monsoon,family
17            jodhpur             winter,sightseeing,solo,family,friends
18           varanasi                          winter,sightseeing,family
19             orrisa           winter,summer,sightseeing,beaches,family
20        pondicherry  winter,monsoon,sightseeing,beaches,solo,romant...
21             kerala  winter,sightseeing,beaches,mountains,solo,roma...
22        kanyakumari        winter,adventure,sightseeing,beaches,family
23           srinagar  summer,monsoon,sightseeing,mountains,romantic,...
24  Arunachal Pradesh  monsoon,sightseeing,mountains,solo,romantic,fa...
25              Assam           winter,sightseeing,mountains,solo,family
26        Chattisgarh    winter,summer,sightseeing,mountains,solo,family
27          Karnataka  winter,monsoon,adventure,sightseeing,beaches,m...
28             Mumbai  winter,sightseeing,beaches,family,friends,monsoon
29              kutch  winter,monsoon,adventure,sightseeing,solo,roma...
30          usr_input               winter,sightseeing,friends,mountains
31          usr_input                 winter,sightseeing,friends,beaches
32          usr_input                 winter,adventure,friends,mountains

In [3]:
tf = TfidfVectorizer()
x1=tf.fit_transform(ds['tags'])
#cs=cosine_similarity(x,x)
#tf.get_feature_names()
print(x1.shape)

(31, 11)

In [4]:
df=pd.DataFrame(x1.toarray().transpose(),index=tf.get_feature_names())
df.columns=ds['name']

In [5]:
df

name,goa,andaman,himachal,rajasthan,uttarakhand,kashmir,ladakh,tamil nadu,ooty,sikkim,...,kerala,kanyakumari,srinagar,Arunachal Pradesh,Assam,Chattisgarh,Karnataka,Mumbai,kutch,usr_input
adventure,0.444649,0.469587,0.443986,0.000000,0.443986,0.491812,0.489650,0.000000,0.000000,0.504000,...,0.000000,0.562751,0.000000,0.000000,0.000000,0.000000,0.376976,0.000000,0.470167,0.000000
beaches,0.485576,0.512809,0.000000,0.000000,0.000000,0.000000,0.000000,0.629644,0.000000,0.000000,...,0.482811,0.614549,0.000000,0.000000,0.000000,0.000000,0.411674,0.570172,0.000000,0.000000
family,0.000000,0.268722,0.254071,0.368974,0.254071,0.281440,0.000000,0.329945,0.283551,0.288415,...,0.253002,0.322035,0.265519,0.269900,0.358628,0.303884,0.215725,0.298781,0.269053,0.000000
friends,0.341495,0.360648,0.340986,0.495195,0.340986,0.000000,0.376057,0.000000,0.380550,0.387077,...,0.339550,0.000000,0.356349,0.362230,0.000000,0.000000,0.289521,0.400989,0.000000,0.548844
monsoon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.445241,0.452588,0.000000,0.000000,0.361743,0.501017,0.451168,0.000000
mountains,0.000000,0.000000,0.379504,0.000000,0.379504,0.420384,0.418537,0.000000,0.423538,0.430803,...,0.377907,0.000000,0.396604,0.403148,0.535680,0.453909,0.322227,0.000000,0.000000,0.610843
romantic,0.394559,0.416687,0.393970,0.000000,0.393970,0.436408,0.000000,0.000000,0.439682,0.000000,...,0.392312,0.000000,0.411721,0.418515,0.000000,0.000000,0.334509,0.000000,0.417202,0.000000
sightseeing,0.238964,0.252366,0.238607,0.346516,0.238607,0.264310,0.000000,0.309863,0.266292,0.270860,...,0.237603,0.302434,0.249358,0.253473,0.336800,0.285388,0.202595,0.280595,0.252677,0.384057
solo,0.410046,0.000000,0.000000,0.594599,0.000000,0.000000,0.451545,0.531704,0.000000,0.000000,...,0.407711,0.000000,0.000000,0.434943,0.577927,0.489707,0.347639,0.000000,0.433578,0.000000
summer,0.000000,0.000000,0.443986,0.000000,0.443986,0.491812,0.489650,0.000000,0.495501,0.504000,...,0.000000,0.000000,0.463990,0.000000,0.000000,0.531033,0.000000,0.000000,0.000000,0.000000
winter,0.262615,0.277343,0.262223,0.380812,0.262223,0.000000,0.000000,0.340531,0.292648,0.000000,...,0.261119,0.332367,0.000000,0.000000,0.370134,0.313634,0.222646,0.308367,0.277685,0.422069

In [6]:
cosine_similarities = linear_kernel(x1,x1)
results = {}

In [7]:
for idx, row in ds.iterrows():
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
    similar_items = [(cosine_similarities[idx][i], ds['name'][i]) for i in similar_indices] 
    results[row['name']] = similar_items[1:]

In [8]:
def item(name):
    return ds.loc[ds['name'] == name]['name']

In [9]:
def recommend(name, num):
    print("Recommending " + str(num) + " destinations as per user input...")
    print("-------")
    recs = results[name][:num]
    for rec in recs:
        print("Recommended: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")

In [10]:
recommend(name='usr_input', num=5)

30    Recommending 5 places similar to usr_input...
Name: name, dtype: object
-------
8    Recommended: ooty (score:0.6933665800841026)
Name: name, dtype: object
10    Recommended: darjeeling (score:0.6261862577007...
Name: name, dtype: object
4    Recommended: uttarakhand (score:0.621279930089...
Name: name, dtype: object
2    Recommended: himachal (score:0.6212799300898442)
Name: name, dtype: object
21    Recommended: kerala (score:0.61866519085846)
Name: name, dtype: object