In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel,cosine_similarity
import datetime,sys
ds = pd.read_csv("pirs_cbf.csv")
budget=int(input("Enter your approximate budget:"))
dur=-1
while dur<0:
    print("Enter Start date:")
    y=int(input("Enter year(yyyy)"))
    d=int(input("Enter day(dd)"))
    m=int(input("Enter month(mm)"))
    d1 = datetime.datetime(y, m, d)
    print("Enter end date:")
    y=int(input("Enter year(yyyy)"))
    d=int(input("Enter day(dd)"))
    m=int(input("Enter month(mm)"))
    d2 = datetime.datetime(y, m, d)
    delta=d2-d1
    dur=int(delta.days)
    if dur<0:
        print("Please reenter VALID start and end dates")
    else:
        print(dur)
#dur=int(input("Enter Start date:"))
ds=ds[ds['min_cost']<budget]
ds=ds[ds['max_cost']>budget]
ds=ds[ds['min_duration']<dur]
ds=ds[ds['max_duration']>dur]
if ds.shape[0]<6:
    print("Please try again with different inputs")
    quit()
ds

Enter your approximate budget:50000
Enter Start date:
Enter year(yyyy)2019
Enter day(dd)20
Enter month(mm)11
Enter end date:
Enter year(yyyy)2019
Enter day(dd)25
Enter month(mm)11
5

,name,max_cost,min_cost,max_duration,min_duration,tags
0,goa,85000,5000,7,3,"winter,adventure,sightseeing,beaches,solo,roma..."
1,andaman,100000,13000,6,4,"winter,adventure,sightseeing,beaches,romantic,..."
3,rajasthan,100000,4000,15,4,"winter,sightseeing,solo,family,friends"
4,uttarakhand,300000,1000,15,4,"winter,summer,adventure,sightseeing,mountains,..."
5,kashmir,100000,6000,15,4,"summer,adventure,sightseeing,mountains,romanti..."
9,sikkim,58000,6000,7,3,"summer,adventure,sightseeing,mountains,family,..."
11,gujarat,80000,5000,12,4,"winter,sightseeing,family"
13,meghalaya,93000,6000,7,3,"winter,summer,monsoon,adventure,sightseeing,mo..."
14,madhya pradesh,89000,6000,12,4,"winter,monsoon,sightseeing,family"
21,kerala,90000,4000,15,4,"winter,sightseeing,beaches,mountains,solo,roma..."
24,Arunachal Pradesh,59500,28500,8,4,"monsoon,sightseeing,mountains,solo,romantic,fa..."
25,Assam,136000,8000,12,4,"winter,sightseeing,mountains,solo,family"

In [2]:
l=[]
l.append(input("Enter season:").lower())s
c=input("Going with?\n1.Family\n2.Friends\n3.Romantic\n4.Solo\nEnter option number:\n")
going_with=['family','friends','romantic','solo']
bm=['beaches','mountains']
interest=['adventure','sightseeing']
l.append(going_with[int(c)-1])
usr_tags = ','.join(l)
if input("Wish to enter additional preferences to improve recommendations?\n Enter y/n:\n")=='y':
    c=input("Do you prefer:\n1. Beaches\n2.Mountains\n")
    l.append(bm[int(c)-1])
    c=input("Enter purpose of your visit: 1.Adventure\n2.Sightseeing\nEnter option number:\n")
    l.insert(1,interest[int(c)-1])
else:
    l.insert(1,'adventure,sightseeing')
    l.insert(2,'beaches,mountains')         
usr_tags = ','.join(l)
print(usr_tags)
ds=ds.append({'name':'usr_input','tags':usr_tags},ignore_index=True)
ds.drop(3)

Enter season:winter
Going with?
1.Family
2.Friends
3.Romantic
4.Solo
Enter option number:
3
Wish to enter additional preferences to improve recommendations?
 Enter y/n:
y
Do you prefer:
1. Beaches
2.Mountains
1
Enter purpose of your visit: 1.Adventure
2.Sightseeing
 Enter option number:
1
winter,adventure,romantic,beaches

,name,max_cost,min_cost,max_duration,min_duration,tags
0,goa,85000.0,5000.0,7.0,3.0,"winter,adventure,sightseeing,beaches,solo,roma..."
1,andaman,100000.0,13000.0,6.0,4.0,"winter,adventure,sightseeing,beaches,romantic,..."
2,rajasthan,100000.0,4000.0,15.0,4.0,"winter,sightseeing,solo,family,friends"
4,kashmir,100000.0,6000.0,15.0,4.0,"summer,adventure,sightseeing,mountains,romanti..."
5,sikkim,58000.0,6000.0,7.0,3.0,"summer,adventure,sightseeing,mountains,family,..."
6,gujarat,80000.0,5000.0,12.0,4.0,"winter,sightseeing,family"
7,meghalaya,93000.0,6000.0,7.0,3.0,"winter,summer,monsoon,adventure,sightseeing,mo..."
8,madhya pradesh,89000.0,6000.0,12.0,4.0,"winter,monsoon,sightseeing,family"
9,kerala,90000.0,4000.0,15.0,4.0,"winter,sightseeing,beaches,mountains,solo,roma..."
10,Arunachal Pradesh,59500.0,28500.0,8.0,4.0,"monsoon,sightseeing,mountains,solo,romantic,fa..."
11,Assam,136000.0,8000.0,12.0,4.0,"winter,sightseeing,mountains,solo,family"
12,usr_input,NaN,NaN,NaN,NaN,"winter,adventure,romantic,beaches"

In [3]:
tf = TfidfVectorizer()
x1=tf.fit_transform(ds['tags'])
#cs=cosine_similarity(x,x)
#tf.get_feature_names()
print(x1)

  (0, 10)	0.3077007799750419
  (0, 0)	0.38664974631908144
  (0, 7)	0.26628582383248844
  (0, 1)	0.5031699722764478
  (0, 8)	0.419753975888501
  (0, 6)	0.3574497464155683
  (0, 3)	0.3574497464155683
  (1, 10)	0.3210644636332934
  (1, 0)	0.4034422448521385
  (1, 7)	0.2778508238063686
  (1, 1)	0.5250230346456073
  (1, 6)	0.3729740662928443
  (1, 3)	0.3729740662928443
  (1, 2)	0.3210644636332934
  (2, 10)	0.4096377488922711
  (2, 7)	0.3545025964689207
  (2, 8)	0.5588126028978317
  (2, 3)	0.47586785277457955
  (2, 2)	0.4096377488922711
  (3, 10)	0.2977461423606607
  (3, 0)	0.3741409768950616
  (3, 7)	0.2576710296863235
  (3, 6)	0.3458856460866447
  (3, 3)	0.3458856460866447
  (3, 2)	0.2977461423606607
  :	:
  (8, 4)	0.7383284916350364
  (9, 10)	0.29409324610552545
  (9, 7)	0.25450979464248574
  (9, 1)	0.48091815204891764
  (9, 8)	0.4011910835739925
  (9, 6)	0.3416421507006843
  (9, 3)	0.3416421507006843
  (9, 2)	0.29409324610552545
  (9, 5)	0.36955083120062254
  (10, 7)	0.258794569961629
  (10, 8)	0.4079452977116955
  (10, 6)	0.34739383447127403
  (10, 3)	0.34739383447127403
  (10, 2)	0.2990444248379973
  (10, 5)	0.3757723688939815
  (10, 4)	0.5427786021253034
  (11, 10)	0.4019712043584381
  (11, 7)	0.3478679297407253
  (11, 8)	0.5483541875838904
  (11, 2)	0.4019712043584381
  (11, 5)	0.5051078005241725
  (12, 10)	0.38917422848351485
  (12, 0)	0.48902741400031696
  (12, 1)	0.6364000304862452
  (12, 6)	0.4520957967483549

In [4]:
df=pd.DataFrame(x1.toarray().transpose(),index=tf.get_feature_names())
df.columns=ds['name']

In [5]:
df

name,goa,andaman,rajasthan,uttarakhand,kashmir,sikkim,gujarat,meghalaya,madhya pradesh,kerala,Arunachal Pradesh,Assam,usr_input
adventure,0.386650,0.403442,0.000000,0.374141,0.420487,0.420487,0.000000,0.319839,0.000000,0.000000,0.000000,0.000000,0.489027
beaches,0.503170,0.525023,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.480918,0.000000,0.000000,0.636400
family,0.000000,0.321064,0.409638,0.297746,0.334629,0.334629,0.603140,0.000000,0.406783,0.294093,0.299044,0.401971,0.000000
friends,0.357450,0.372974,0.475868,0.345886,0.000000,0.388731,0.000000,0.295685,0.000000,0.341642,0.347394,0.000000,0.000000
monsoon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.461987,0.738328,0.000000,0.542779,0.000000,0.000000
mountains,0.000000,0.000000,0.000000,0.374141,0.420487,0.420487,0.000000,0.319839,0.000000,0.369551,0.375772,0.505108,0.000000
romantic,0.357450,0.372974,0.000000,0.345886,0.388731,0.000000,0.000000,0.295685,0.000000,0.341642,0.347394,0.000000,0.452096
sightseeing,0.266286,0.277851,0.354503,0.257671,0.289589,0.289589,0.521961,0.220273,0.352032,0.254510,0.258795,0.347868,0.000000
solo,0.419754,0.000000,0.558813,0.000000,0.000000,0.000000,0.000000,0.347223,0.000000,0.401191,0.407945,0.548354,0.000000
summer,0.000000,0.000000,0.000000,0.486892,0.547204,0.547204,0.000000,0.416226,0.000000,0.000000,0.000000,0.000000,0.000000
winter,0.307701,0.321064,0.409638,0.297746,0.000000,0.000000,0.603140,0.254532,0.406783,0.294093,0.000000,0.401971,0.389174

In [6]:
cosine_similarities = linear_kernel(x1,x1)
results = {}
cosine_similarities

array([[1.        , 0.85958516, 0.62510753, 0.55216585, 0.37864639,
        0.37864639, 0.32457757, 0.6177745 , 0.21890851, 0.81289   ,
        0.48850166, 0.446493  , 0.79065045],
       [0.85958516, 1.        , 0.53902545, 0.67174255, 0.50252863,
        0.50252863, 0.5323212 , 0.4925266 , 0.35901939, 0.76690197,
        0.4270566 , 0.35477273, 0.82498902],
       [0.62510753, 0.53902545, 1.        , 0.49987703, 0.23973662,
        0.42472129, 0.67917469, 0.51709314, 0.45806345, 0.71793492,
        0.60752176, 0.75907247, 0.15942045],
       [0.55216585, 0.67174255, 0.49987703, 1.        , 0.88978107,
        0.88978107, 0.49365969, 0.779077  , 0.33294447, 0.6153124 ,
        0.53663211, 0.51798776, 0.45521377],
       [0.37864639, 0.50252863, 0.23973662, 0.88978107, 1.        ,
        0.84888807, 0.35298227, 0.67546717, 0.23806581, 0.46031341,
        0.46806297, 0.44764089, 0.38137319],
       [0.37864639, 0.50252863, 0.42472129, 0.88978107, 0.84888807,
        1.        , 0.35298227, 0.67546717, 0.23806581, 0.46031341,
        0.46806297, 0.44764089, 0.20562945],
       [0.32457757, 0.5323212 , 0.67917469, 0.49365969, 0.35298227,
        0.35298227, 1.        , 0.26849275, 0.67444128, 0.48760323,
        0.31544643, 0.66646365, 0.23472673],
       [0.6177745 , 0.4925266 , 0.51709314, 0.779077  , 0.67546717,
        0.67546717, 0.26849275, 1.        , 0.52218068, 0.5904545 ,
        0.77503522, 0.53089532, 0.38914539],
       [0.21890851, 0.35901939, 0.45806345, 0.33294447, 0.23806581,
        0.23806581, 0.67444128, 0.52218068, 1.        , 0.32885975,
        0.613499  , 0.4494906 , 0.1583094 ],
       [0.81289   , 0.76690197, 0.71793492, 0.6153124 , 0.46031341,
        0.46031341, 0.48760323, 0.5904545 , 0.32885975, 1.        ,
        0.69371246, 0.73162765, 0.57496482],
       [0.48850166, 0.4270566 , 0.60752176, 0.53663211, 0.46806297,
        0.46806297, 0.31544643, 0.77503522, 0.613499  , 0.69371246,
        1.        , 0.62373765, 0.15705529],
       [0.446493  , 0.35477273, 0.75907247, 0.51798776, 0.44764089,
        0.44764089, 0.66646365, 0.53089532, 0.4494906 , 0.73162765,
        0.62373765, 1.        , 0.15643683],
       [0.79065045, 0.82498902, 0.15942045, 0.45521377, 0.38137319,
        0.20562945, 0.23472673, 0.38914539, 0.1583094 , 0.57496482,
        0.15705529, 0.15643683, 1.        ]])

In [7]:
for idx, row in ds.iterrows():
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
    similar_items = [(cosine_similarities[idx][i], ds['name'][i]) for i in similar_indices] 
    results[row['name']] = similar_items[1:]
results

{'goa': [(0.8595851596475752, 'andaman'),
  (0.8128899974724256, 'kerala'),
  (0.7906504528166, 'usr_input'),
  (0.6251075259374164, 'rajasthan'),
  (0.6177745024475702, 'meghalaya'),
  (0.5521658494256846, 'uttarakhand'),
  (0.488501662001287, 'Arunachal Pradesh'),
  (0.4464930017979565, 'Assam'),
  (0.37864639250705534, 'sikkim'),
  (0.37864639250705534, 'kashmir'),
  (0.32457756974800855, 'gujarat'),
  (0.2189085111843071, 'madhya pradesh')],
 'andaman': [(0.8595851596475752, 'goa'),
  (0.824989015548067, 'usr_input'),
  (0.7669019686789079, 'kerala'),
  (0.6717425462574385, 'uttarakhand'),
  (0.5390254548018593, 'rajasthan'),
  (0.5323211999405495, 'gujarat'),
  (0.5025286324652896, 'sikkim'),
  (0.5025286324652896, 'kashmir'),
  (0.4925265998790497, 'meghalaya'),
  (0.42705660441922044, 'Arunachal Pradesh'),
  (0.35901939077706246, 'madhya pradesh'),
  (0.35477272910101826, 'Assam')],
 'rajasthan': [(0.7590724737408462, 'Assam'),
  (0.7179349239683175, 'kerala'),
  (0.679174691473601, 'gujarat'),
  (0.6251075259374164, 'goa'),
  (0.6075217637440528, 'Arunachal Pradesh'),
  (0.5390254548018593, 'andaman'),
  (0.5170931438251885, 'meghalaya'),
  (0.4998770277633793, 'uttarakhand'),
  (0.45806344739094307, 'madhya pradesh'),
  (0.4247212944029344, 'sikkim'),
  (0.23973662227472442, 'kashmir'),
  (0.1594204548828734, 'usr_input')],
 'uttarakhand': [(0.8897810711296174, 'sikkim'),
  (0.8897810711296174, 'kashmir'),
  (0.7790770044443476, 'meghalaya'),
  (0.6717425462574385, 'andaman'),
  (0.6153124009441302, 'kerala'),
  (0.5521658494256846, 'goa'),
  (0.5366321101626113, 'Arunachal Pradesh'),
  (0.5179877644521595, 'Assam'),
  (0.4998770277633793, 'rajasthan'),
  (0.4936596905976018, 'gujarat'),
  (0.4552137663910583, 'usr_input'),
  (0.33294447297860363, 'madhya pradesh')],
 'kashmir': [(0.8897810711296174, 'uttarakhand'),
  (0.8488880693770879, 'sikkim'),
  (0.675467166983388, 'meghalaya'),
  (0.5025286324652896, 'andaman'),
  (0.46806296828866634, 'Arunachal Pradesh'),
  (0.46031340594419545, 'kerala'),
  (0.4476408882341169, 'Assam'),
  (0.3813731851174353, 'usr_input'),
  (0.37864639250705534, 'goa'),
  (0.352982266984315, 'gujarat'),
  (0.23973662227472442, 'rajasthan'),
  (0.23806581150998368, 'madhya pradesh')],
 'sikkim': [(0.8897810711296174, 'uttarakhand'),
  (0.8488880693770879, 'kashmir'),
  (0.675467166983388, 'meghalaya'),
  (0.5025286324652896, 'andaman'),
  (0.46806296828866634, 'Arunachal Pradesh'),
  (0.46031340594419545, 'kerala'),
  (0.4476408882341169, 'Assam'),
  (0.4247212944029344, 'rajasthan'),
  (0.37864639250705534, 'goa'),
  (0.352982266984315, 'gujarat'),
  (0.23806581150998368, 'madhya pradesh'),
  (0.20562945238907104, 'usr_input')],
 'gujarat': [(0.679174691473601, 'rajasthan'),
  (0.6744412787188606, 'madhya pradesh'),
  (0.6664636485276932, 'Assam'),
  (0.5323211999405495, 'andaman'),
  (0.4936596905976018, 'uttarakhand'),
  (0.48760323048430537, 'kerala'),
  (0.352982266984315, 'sikkim'),
  (0.352982266984315, 'kashmir'),
  (0.32457756974800855, 'goa'),
  (0.31544643035510384, 'Arunachal Pradesh'),
  (0.2684927456351571, 'meghalaya'),
  (0.23472673066921834, 'usr_input')],
 'meghalaya': [(0.7790770044443476, 'uttarakhand'),
  (0.7750352162330026, 'Arunachal Pradesh'),
  (0.675467166983388, 'sikkim'),
  (0.675467166983388, 'kashmir'),
  (0.6177745024475702, 'goa'),
  (0.5904544954379654, 'kerala'),
  (0.5308953185083399, 'Assam'),
  (0.5221806786373977, 'madhya pradesh'),
  (0.5170931438251885, 'rajasthan'),
  (0.4925265998790497, 'andaman'),
  (0.38914539266131853, 'usr_input'),
  (0.2684927456351571, 'gujarat')],
 'madhya pradesh': [(0.6744412787188606, 'gujarat'),
  (0.6134990004549451, 'Arunachal Pradesh'),
  (0.5221806786373977, 'meghalaya'),
  (0.45806344739094307, 'rajasthan'),
  (0.4494905953326547, 'Assam'),
  (0.35901939077706246, 'andaman'),
  (0.33294447297860363, 'uttarakhand'),
  (0.32885974627528225, 'kerala'),
  (0.23806581150998368, 'sikkim'),
  (0.23806581150998368, 'kashmir'),
  (0.2189085111843071, 'goa'),
  (0.1583093963820452, 'usr_input')],
 'kerala': [(0.8128899974724256, 'goa'),
  (0.7669019686789079, 'andaman'),
  (0.7316276462512034, 'Assam'),
  (0.7179349239683175, 'rajasthan'),
  (0.6937124592786061, 'Arunachal Pradesh'),
  (0.6153124009441302, 'uttarakhand'),
  (0.5904544954379654, 'meghalaya'),
  (0.5749648191044976, 'usr_input'),
  (0.48760323048430537, 'gujarat'),
  (0.46031340594419545, 'sikkim'),
  (0.46031340594419545, 'kashmir'),
  (0.32885974627528225, 'madhya pradesh')],
 'Arunachal Pradesh': [(0.7750352162330026, 'meghalaya'),
  (0.6937124592786061, 'kerala'),
  (0.6237376459446614, 'Assam'),
  (0.6134990004549451, 'madhya pradesh'),
  (0.6075217637440528, 'rajasthan'),
  (0.5366321101626113, 'uttarakhand'),
  (0.488501662001287, 'goa'),
  (0.46806296828866634, 'sikkim'),
  (0.46806296828866634, 'kashmir'),
  (0.42705660441922044, 'andaman'),
  (0.31544643035510384, 'gujarat'),
  (0.15705529238075674, 'usr_input')],
 'Assam': [(0.7590724737408462, 'rajasthan'),
  (0.7316276462512034, 'kerala'),
  (0.6664636485276932, 'gujarat'),
  (0.6237376459446614, 'Arunachal Pradesh'),
  (0.5308953185083399, 'meghalaya'),
  (0.5179877644521595, 'uttarakhand'),
  (0.4494905953326547, 'madhya pradesh'),
  (0.4476408882341169, 'sikkim'),
  (0.4476408882341169, 'kashmir'),
  (0.4464930017979565, 'goa'),
  (0.35477272910101826, 'andaman'),
  (0.1564368333287844, 'usr_input')],
 'usr_input': [(0.824989015548067, 'andaman'),
  (0.7906504528166, 'goa'),
  (0.5749648191044976, 'kerala'),
  (0.4552137663910583, 'uttarakhand'),
  (0.38914539266131853, 'meghalaya'),
  (0.3813731851174353, 'kashmir'),
  (0.23472673066921834, 'gujarat'),
  (0.20562945238907104, 'sikkim'),
  (0.1594204548828734, 'rajasthan'),
  (0.1583093963820452, 'madhya pradesh'),
  (0.15705529238075674, 'Arunachal Pradesh'),
  (0.1564368333287844, 'Assam')]}

In [8]:
def item(name):
    return ds.loc[ds['name'] == name]['name']

In [9]:
def recommend(name, num):
    print("Recommending " + str(num) + " destinations as per user input...")
    print("-------")
    recs = results[name][:num]
    for rec in recs:
        print("Recommended: " + item(rec[1]) + " (score:" + str(rec[0]) + ")")

In [10]:
recommend(name='usr_input', num=5)

Recommending 5 destinations as per user input...
-------
1    Recommended: andaman (score:0.824989015548067)
Name: name, dtype: object
0    Recommended: goa (score:0.7906504528166)
Name: name, dtype: object
9    Recommended: kerala (score:0.5749648191044976)
Name: name, dtype: object
3    Recommended: uttarakhand (score:0.455213766391...
Name: name, dtype: object
7    Recommended: meghalaya (score:0.38914539266131...
Name: name, dtype: object